body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: rgba(3, 0, 16, 0.8);
}

.app{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	height: 100vh;
	width: 100%;
}
.box{
	border: 1px solid black;
	background-color: rgba(15, 1, 79, 0.334);
	overflow: hidden;
	margin: 0px 0px 10px 0px;
}

.game{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 200px;
}

.flex{
	display: flex;
	justify-content: center;
}

.square{
	height: 50px;
	width: 50px;
}

.food{
	background-color: yellowgreen;
	border-radius: 50%;
	position: relative;
	&::before,
	&::after{
		content: '';
		position: absolute;
		width: 4px;
		height: 12px;
		background-color: brown;
		top: 0;
		left: 50%;
	}
	&::before{
		transform: rotate(-45deg) translate(-50%,-50%);
	}
	&::after{
		transform: rotate(45deg) translate(-50%,-50%);
	}
}

.snake{
	background-color: rgb(250, 93, 93);
	z-index: 2;
}

.players{
	display: flex;
	flex: 0 1 200px;
	flex-direction: column;
	gap: 5px;
}

.players__row{
	margin: 0;
	padding: 0;
}
.register{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.head{
	background-color: rgba(253, 0, 0);
	border-radius: 50%;
	z-index: 3;
	transform: scale(1.3);
	position: relative;
}

.register__input{
	font-size: 14px;
	border-radius: 6px;
	line-height: 1.5;
	padding: 5px 10px;
	transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
	border: 2px solid #dee1e2;
	color: rgb(14, 14, 16);
	background-color: #dee1e2;
	display: block;
	height: 36px;
	&:hover {
		 border-color: rgba(15, 1, 79);
	}
	&:focus{
		 background-color: #fff;
	}
	
}

.endscreen{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 20px 0px;
}

//========================================================================================================================================================
.buttons{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.button{
	// display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: 0;
	cursor: pointer;
	border-radius: 6px;
	border: 2px solid #ff4742;
	color: #fff;
	background-color: #ff4742;
	padding: 8px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
					 rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
	font-weight: 800;
	font-size: 16px;
	min-height: 50px;

	&:hover{
		 background-color: transparent;
		 color: #ff4742;
	}
	&__register{
		margin: 10px 0px 0px 0px;
	}
}
